<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for using ViewingParty!</h1>
    <p>
      You have been invited to watch <%= @movie %>.<br>
    </p>
    <p>Date and Time: <%= @datetime %></p>
    <p>Runtime of Movie: <%= @runtime %></p>
    <p>Thanks for watching and have a great day!</p>
  </body>
</html>