---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/5/videos?api_key=<DONT_SHARE_MY_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - f8a5ad20a08d47bfee13c0b6be6467e3
      X-Memc-Age:
      - '971'
      X-Memc-Expires:
      - '20629'
      Etag:
      - W/"15d3bc2ba8f65a6a9efb7b1e81811771"
      Last-Modified:
      - Wed, 14 Oct 2020 18:58:43 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":5,"results":[{"id":"533ec651c3a3685448000001","iso_639_1":"en","iso_3166_1":"US","key":"Rieq_TR7cV0","name":"Four
        Rooms 1995 Trailer","site":"YouTube","size":360,"type":"Trailer"},{"id":"533ec651c3a3685448000002","iso_639_1":"en","iso_3166_1":"US","key":"S_Pd2pGkq54","name":"Four
        Rooms - Trailer","site":"YouTube","size":480,"type":"Trailer"}]}'
  recorded_at: Wed, 14 Oct 2020 20:53:21 GMT
recorded_with: VCR 6.0.0
