---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/550/reviews?api_key=<DONT_SHARE_MY_KEY>&language=en-US&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 2a4110a08fba3728571c95c90887ca0a
      X-Memc-Age:
      - '2098'
      X-Memc-Expires:
      - '19502'
      Etag:
      - W/"2cd64ab7ba8156ff05d725ec297b760d"
      Last-Modified:
      - Wed, 14 Oct 2020 19:47:57 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":550,"page":1,"results":[{"author":"Goddard","content":"Pretty
        awesome movie.  It shows what one crazy person can convince other crazy people
        to do.  Everyone needs something to believe in.  I recommend Jesus Christ,
        but they want Tyler Durden.","id":"5b1c13b9c3a36848f2026384","url":"https://www.themoviedb.org/review/5b1c13b9c3a36848f2026384"},{"author":"Brett
        Pascoe","content":"In my top 5 of all time favourite movies. Great story line
        and a movie you can watch over and over again.","id":"5b3e1ba1925141144c007f17","url":"https://www.themoviedb.org/review/5b3e1ba1925141144c007f17"}],"total_pages":1,"total_results":2}'
  recorded_at: Wed, 14 Oct 2020 21:15:16 GMT
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/550/reviews?api_key=<DONT_SHARE_MY_KEY>&language=en-US&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 2a4110a08fba3728571c95c90887ca0a
      X-Memc-Age:
      - '2098'
      X-Memc-Expires:
      - '19502'
      Etag:
      - W/"2cd64ab7ba8156ff05d725ec297b760d"
      Last-Modified:
      - Wed, 14 Oct 2020 19:47:57 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":550,"page":1,"results":[{"author":"Goddard","content":"Pretty
        awesome movie.  It shows what one crazy person can convince other crazy people
        to do.  Everyone needs something to believe in.  I recommend Jesus Christ,
        but they want Tyler Durden.","id":"5b1c13b9c3a36848f2026384","url":"https://www.themoviedb.org/review/5b1c13b9c3a36848f2026384"},{"author":"Brett
        Pascoe","content":"In my top 5 of all time favourite movies. Great story line
        and a movie you can watch over and over again.","id":"5b3e1ba1925141144c007f17","url":"https://www.themoviedb.org/review/5b3e1ba1925141144c007f17"}],"total_pages":1,"total_results":2}'
  recorded_at: Wed, 14 Oct 2020 21:15:16 GMT
recorded_with: VCR 6.0.0
